INTERNAL_API_URL=http://localhost:5000
NEXT_PUBLIC_API_URL=http://localhost:5000
DATABASE_URL=
RESEND_API_KEY=
RESEND_FROM_EMAIL="Ractysh Architecture <onboarding@resend.dev>"
ARCHITECTURE_CONTACT_MAIL_TO=
